*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

h1{
    text-align: center;
    padding-top: 2.5rem;
    font-size: 3rem;
}

ul{
    padding-top: 2rem;
    width: 45%;
    margin: 0 auto;
}

li{
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .1s linear;
}

li:hover{
    background-color: darkgray;
}

li:hover p{
    color: midnightblue;
}

li span{
    transition: .1s linear;
}

li span:hover{
    color: red;
}