*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

h1{
    text-align: center;
    padding-top: 2.5rem;
    font-size: 3rem;
}

ul{
    padding-top: 2rem;
    width: 45%;
    margin: 0 auto;
}

li{
    display: flex;
    justify-content: space-between;
    padding: .3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .1s linear;
}

li:hover{
    background-color: darkgray;
}

li:hover p{
    color: midnightblue;
}

li p.taskDone{
    text-decoration: line-through;
}

li span{
    transition: .1s linear;
}

li span:hover{
    color: red;
}

div.inputWrapper{
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 15%;
    margin: 0 auto;
}

div.inputWrapper{
    cursor: pointer;
    margin-top: .5rem;
} 

div.inputWrapper span{
    margin-left: .5rem;
}